$radius: 5px;

%button {
    background: rgba(24, 209, 172, 0.8);
    color: white;
    box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.5);
    border-radius: 7px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    padding: 0.3em 0.6em;
    width: fit-content;
    transition: background-color 0.5s, color 0.3s;
}

%button-hover {
    background: rgba(37, 166, 206, 0.8);
    cursor: pointer;
}

%icon-hover {
    color: rgba(115, 168, 157, 0.849);
    cursor: pointer;
}

header {
    display: flex;
    justify-content: center;
    padding-top: 10%;
    font-size: 24px;
    text-shadow: 2px 2px 2px rgb(5, 62, 85);
}

.groups {
    margin: 5vh auto;
    max-width: 360px;
    background: rgba(253, 253, 253, 0.589);
    border: 1px solid rgba(115, 134, 196, 0.452);
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.3);
    border-radius: $radius;
    padding: 1.2em;

    .group {
        position: relative;
        list-style: none;
        margin: 5px 0;

        border: 0.2px solid rgba(63, 151, 134, 0.2);
        border-radius: $radius;
        background: rgba(223, 248, 255, 0.479);
        padding: 0.5em;
        box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);

        .taskBtn {
            flex: 1;
            display: flex;
            justify-content: flex-end;
            
            button {
                font-size: 28px;
                position: absolute;
                top: 0;
                right: 0;
            }
        }
    }

    .groupHeader {
        display: flex;
        font-size: 1.5em;
        font-weight: 600;

        .taskCount {
            font-size: 0.8em;
            font-weight: 500;
        }
    }
}

.head-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
        font-size: 32px;
    }
}

.tasksContainer {
    display: flex;
    flex-direction: column;
    max-width: 90%;
    margin: 0 auto;
    position: relative;
    left: 10px;

    .manage-bar {
        display: flex;
        justify-content: space-between;

        button {
            font-size: 14px;
            white-space: nowrap;
            @extend %button;
        }

        button:hover {
            @extend %button-hover;
        }
    }

    .tasks {
        border-radius: $radius;
        padding: 5px;
        font-size: 18px;
    
        .task {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .title:hover {
                cursor: pointer;
                text-decoration: underline;
            }
        }
    }

    .taskForm {
        width: 100%;
    }
}


.crossed {
    text-decoration: line-through;
}

form {
    display: flex;
    align-items: center;
    flex-direction: column;

    width: fit-content;
    margin: 0 auto;
    padding: 10px 0;
    border: 0.5px solid rgba(115, 134, 196, 0.4);
    box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.2);
    border-radius: $radius;
    background: rgba(255, 255, 255, 0.199);

    label {
        display: flex;
        flex-direction: column;
    }
}

// Popup
.confirmDelete {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    background: rgb(215, 230, 240);
    width: fit-content;
    padding: 0.7em;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.096);
}

//  Buttons  \\
button {
    font-size: 24px;
    background: rgba(211, 222, 226, 0);
    border: none;
    color: inherit;
    margin: 0 0.4em;
    font-family: inherit;
}

button:hover {
    @extend %icon-hover;
    background: none;
}

label {
    max-width: 90%;
    margin: 0.5em 0;
}

input, textarea {
    padding: 3px 5px;
    font-family: inherit;
    color: inherit;
    font-size: 16px;
    margin: 0 2px;
    border: 0.5px solid rgba(128, 128, 128, 0.5);
    border-radius: $radius;
    background: rgba(255, 255, 255, 0.616);
    max-width: 100%;
}

input[type='submit'] {
    @extend %button;
}

input[type='submit']:hover {
    @extend %button-hover;
}