$radius: 5px;

%button {
    background: rgb(211, 222, 226);
    border: 0.5px solid grey;
    border-radius: $radius;
    padding: 0.3em 0.6em;
    width: fit-content;
    transition: background-color 0.3s, color 0.3s;
}

%button-hover {
    color: rgba(76, 137, 161, 0.849);
    background: rgba(201, 212, 216, 0.781);
    cursor: pointer;
}

header {
    display: flex;
    justify-content: center;
    padding-top: 10%;
    font-size: 24px;
}

.groups {
    margin: 5vh auto;
    max-width: 90%;
    width: 500px;
    background: linear-gradient(rgba(194, 243, 243, 0.363), rgba(57, 99, 236, 0.363));
    border: 3px solid rgba(115, 134, 196, 0.452);
    border-radius: $radius;
    padding: 10px;

    .group {
        display: flex;
        position: relative;
        border: 0.5px solid rgba(99, 124, 119, 0.548);
        border-radius: $radius;
        align-items: center;
        background: rgba(223, 248, 255, 0.479);

        .taskBtn {
            flex: 1;
            display: flex;
            justify-content: flex-end;
            
            button {
                @extend %button;
                font-size: 1em;
            }

            button:hover {
                @extend %button-hover;
            }

            .minimize {
                position: absolute;
                margin: 0.4em 0.4em;
                padding: 0 0.4em;
                top: 0;
                right: 0;
            }
        }
    }

    .group > * {
        margin: 0 1em;
        padding: 15px 0;
    }

    .group > .title {
        font-size: 1.5em;
        font-weight: 600;
    }

    .title:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}

.head-bar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.tasksContainer {
    display: flex;
    flex-direction: column;
    max-width: 100%;

    .tasks {
        border-radius: $radius;
        padding: 5px;
        font-size: 18px;
        margin: 0 1em;
    
        .task {
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }
    }

    .taskForm {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        border: 1px solid rgba(115, 134, 196, 0.452);
        border-radius: $radius;
        background: rgba(255, 255, 255, 0.199);
    }
}


.crossed {
    text-decoration: line-through;
}

form {
    padding: 10px 0;
    display: flex;
    align-items: center;

    label {
        display: flex;
        flex-direction: column;
    }
}

//  Buttons  \\

button {
    font-size: 24px;
    background: rgba(211, 222, 226, 0);
    border: 0.5px solid rgba(255, 255, 255, 0);
    color: inherit;
    margin: 0 0.4em;
    font-family: inherit;
}

button:hover {
    @extend %button-hover;
    background: none;
}


label {
    max-width: 90%;
    margin: 0.5em 0;
}

input, textarea {
    padding: 3px 5px;
    font-family: inherit;
    color: inherit;
    font-size: 16px;
    margin: 0 2px;
    border: 0.5px solid rgba(128, 128, 128, 0.5);
    border-radius: $radius;
    background: rgba(255, 255, 255, 0.616);
    max-width: 100%;
}

input[type='submit'] {
    @extend %button;
}

input[type='submit']:hover {
    @extend %button-hover;
}