$radius: 5px;

%button {
    background: rgba(149, 177, 190, 0.1);
    border: 0.8px solid rgba(100, 70, 182, 0.856);
    border-radius: $radius;
    padding: 0.3em 0.6em;
    width: fit-content;
    transition: background-color 0.3s, color 0.3s;
}

%button-hover {
    // color: rgba(170, 209, 224, 0.849);
    background: rgba(201, 212, 216, 0.781);
    cursor: pointer;
}

header {
    display: flex;
    justify-content: center;
    padding-top: 10%;
    font-size: 24px;
    text-shadow: 2px 2px 2px rgb(5, 62, 85);
}

.groups {
    margin: 5vh auto;
    max-width: 90%;
    width: 500px;
    background: rgba(253, 253, 253, 0.589);
    border: 1px solid rgba(115, 134, 196, 0.452);
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.3);
    border-radius: $radius;
    padding: 1.2em;

    .group {
        display: flex;
        position: relative;
        border: 0.2px solid rgba(63, 151, 134, 0.2);
        border-radius: $radius;
        align-items: center;
        justify-content: space-between;
        background: rgba(223, 248, 255, 0.479);
        padding: 0.5em;
        box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);

        .taskBtn {
            flex: 1;
            display: flex;
            justify-content: flex-end;
            
            button {
                @extend %button;
                font-size: 1em;
                position: absolute;
                margin: 0.4em 0.4em;
                padding: 0 0.4em;
                top: 0;
                right: 0;
            }

            button:hover {
                @extend %button-hover;
            }
        }
    }

    // .group > * {
    //     margin: 0 1em;
    //     padding: 15px 0;
    // }

    .group > .title {
        font-size: 1.5em;
        font-weight: 600;
    }

    .title:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}

.head-bar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.tasksContainer {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    max-width: 100%;

    .tasks {
        border-radius: $radius;
        padding: 5px;
        font-size: 18px;
    
        .task {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    .taskForm {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        border: 0.5px solid rgba(115, 134, 196, 0.4);
        box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.2);
        border-radius: $radius;
        background: rgba(255, 255, 255, 0.199);
    }
}


.crossed {
    text-decoration: line-through;
}

form {
    padding: 10px 0;
    display: flex;
    align-items: center;

    label {
        display: flex;
        flex-direction: column;
    }
}

// Popup
.confirmDelete {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    background: rgb(215, 230, 240);
    width: fit-content;
    padding: 0.7em;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.096);
}

//  Buttons  \\
button {
    font-size: 24px;
    background: rgba(211, 222, 226, 0);
    border: none;
    color: inherit;
    margin: 0 0.4em;
    font-family: inherit;
}

button:hover {
    @extend %button-hover;
    background: none;
}

label {
    max-width: 90%;
    margin: 0.5em 0;
}

input, textarea {
    padding: 3px 5px;
    font-family: inherit;
    color: inherit;
    font-size: 16px;
    margin: 0 2px;
    border: 0.5px solid rgba(128, 128, 128, 0.5);
    border-radius: $radius;
    background: rgba(255, 255, 255, 0.616);
    max-width: 100%;
}

input[type='submit'] {
    @extend %button;
}

input[type='submit']:hover {
    @extend %button-hover;
}