* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 10px 0;
}

li {
  margin: 5px 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: linear-gradient(rgba(30, 108, 211, 0.301), rgba(167, 167, 209, 0.301));
  background-repeat: no-repeat;
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: rgba(19, 44, 126, 0.849);
}

html {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
